body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}



h1{
    font-size: 2.5em;
    text-align: center;
    color: black;
}

.title{
    font-size: 2.5em;
    text-align: center;
    color: black;
}

button{

    background-color: white;
}

.KnapAttraktion{
    display: block;
    padding: 10px 20px;
    color:  #0056b3;
    border: none;
    border-radius: 5px;
    transition: 0.9s;
    margin: 10px auto;
}

.tilbage{
    display: block;
    padding: 10px 20px;
    color:  #0056b3;
    border: none;
    border-radius: 5px;
    transition: 0.9s;
    margin: 10px auto;
}



.knap{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1em;
    grid-column: 1;
    grid-row: 2;
}

.KnapAttraktion:active{
    opacity: 0.6;
}

.KnapAttraktion:hover{
    background-color: #0056b3;
    color: white;
    cursor: pointer;
}

.tilbage:hover{
    background-color: #0056b3;
    color: white;
    cursor: pointer;
}

.tilbage:active{
    opacity: 0.6;
}



.tagKnap:hover{
    background-color: #0056b3;
    color: white;
    cursor: pointer;
}

table{
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.7);
}





section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}



th, td {
    padding: 10px;
    border: 2px solid #ddd;
    text-align: left;
}



footer {
    color: black;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    font-size: larger;
    background-color: rgba(255, 255, 255, 0.7);
}






