<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>TouristAttraction</title>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/3942/3942076.png">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>


<body>

<h1>Tourist Attraction</h1>

<section>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>tags</th>
                <th>Slet</th>
                <th>Opdater</th>
            </tr>


            <tr th:each="attraction : ${attractions}">
                <td th:text="${attraction.name}"></td>
                <td th:text="${attraction.description}"></td>
                <td><a class="tagKnap" th:href="@{'/attractions/' + ${attraction.getName()} + '/tags'}">Tags</a></td>
                <td><a class="tagKnap" th:href="'/attractions/delete/'+ ${attraction.name}">Slet</a></td>
                <td><a class="tagKnap" th:href="@{'/attractions/edit/' + ${attraction.name}}">Opdater</a></td>
            </tr>
        </table>



    </div>

    <div class="knap">

        <a th:href="@{'/attractions/add'}" class="KnapAttraktion">Tilføj attraktion</a>

    </div>
</section>


<footer>
    <p>

    </p>
</footer>

</body>
</html>