<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>TouristAttraction</title>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/3942/3942076.png">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>


<body background="https://bt.bmcdn.dk/media/cache/resolve/image_1240/image/5/57521/10750090-copenhagen-denmark.jpg">

<h1>Tourist Attraction</h1>

<section>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>


            <tr th:each="attraction : ${attractions}">
                <td th:text="${attraction.name}"></td>
                <td th:text="${attraction.description}"></td>
                <td><a th:href="${attraction.url}">Tags</a></td>
            </tr>
        </table>
    </div>
    <div class="knap">
        <button class="KnapAttraktion">Tilføj attraktion</button>
    </div>
</section>






<footer>
    <p>
        Contact us on  <a href="mailto:tourist-attraktion2024@hotmail.com">tourist-attraktion2024@hotmail.com</a>
    </p>
</footer>

</body>
</html>