<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
  <meta charset="UTF-8">
  <title>Tilføj Attraktion</title>
  <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/3942/3942076.png">
  <link rel="stylesheet" type="text/css" href="/opret.css">
</head>
<body>

<h1>Tilføj attraktion</h1>
<form action="/attractions/save" method="post" th:object="${tA}">

  <div class="form-group">
    <label for="name">Navn på Attraktioner:</label>
    <input id="name" name="name" th:value="${tA.name}" type="text" required>
  </div>

  <div class="form-group">
    <label for="description">Beskrivelse af en attraktion:</label>
    <input id="description" name="description" th:value="${tA.description}" type="text" required>
  </div>

  <div class="form-group">
    <label for="city">By:</label>
    <select id="city" name="city" th:field="*{city}">
      <option th:each="c : ${city}" th:value="${c}" th:text="${c}"></option>
    </select>
  </div>

  <label>Tags:</label>
  <div class="form-group">
    <div th:each="tag : ${tags}">
      <input type="checkbox" th:field="*{tagList}" th:value="${tag}">
      <label th:text="${tag}"></label>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit">Tilføj attraktion</button>
    <a href="http://localhost:8080/attractions">Fortryd</a>
  </div>
</form>

</body>
</html>
