<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attraktion Tags</title>

    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/3942/3942076.png">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>

<section>
    <div>
        <h2 th:text="${attraction.name}"></h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>City</th>
            </tr>
            <tr>
                <td th:text="${attraction.name}">Navn</td>
                <td th:text="${attraction.description}">Beskrivelse</td>
                <td th:text="${attraction.city}">By</td>
            </tr>
        </table>
    </div>
</section>

<section>
    <div>
        <h2>Tags</h2>
        <table>
            <tr>
                <th>Tags</th>
            </tr>
            <tr th:each="tag : ${tags}">
                <td th:text="${tag}">Tag</td>
            </tr>
        </table>
    </div>
</section>

<div>
    <a href="/attractions" class="KnapAttraktion">Tilbage</a>
</div>

</body>
</html>
